div{
    background-color: blueviolet;
    width: 100%;
}
div div {
    background-color:indianred;
    width: 45%;
    padding: 2.5%;
}

div div div {
    background-color:azure;
    text-align: center;
    
}
.picdec{
    width: 50%;
}
 