table{
    width:100%;
    border:1px solid black;
    border-collapse: collapse;
    background-color:aquamarine;
}
th{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    border-collapse: collapse;
}
h1{
    text-align: center;
}
body{
    background-color: antiquewhite;
}